.navbar{
    height: 4rem;
    width: 100%;
    background-color: blue;
    display: flex;
    align-items: center;

    justify-content: space-between;
    margin-bottom: 2rem;
    
}
.btnbox{
    height: 4rem;
    width: 12rem;
    gap: 1rem;;
    display: flex;
    align-items: center;
}
.loginbtn{
    color: white !important;
    font: bold;
    
}
.loginbtn:hover{
    cursor: pointer;
    background-color: white !important;
    color: blue !important;
}
.signupbtn{
    color: white !important;
    font: bold;
}
.signupbtn:hover{
    cursor: pointer;
    background-color: white !important;
    color: blue !important;
}
.vooshLogo{
    height: 4rem;
    width: 12rem;
}
.vooshLogo:hover{
    cursor: pointer;
}