.loginbox {
    height: 30rem;
    width: 25rem;
    margin: auto;
    border: 1.5px solid blue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;  
    padding: 2rem;  
    margin-top: 1rem;
}
.loginbutton{
    background-color: blue !important;
    color: white !important;
    font-weight: bold ;
}
.loginGoogle{
    color: white !important;
    background-color: blue !important;
    font-weight: bold;
}
.loginText{
    color: blue;
    font-weight: bold !important;
    
}